<% @searches.each do |search| %>
    
    <div class="container">
        <h1 class="title">
            Most searched based on IP: <%= search.user_ip%>
            <span class="ip-address" id="ip-display">
            </span>
        </h1>

        <div class="search-list">
            <h2 class="list-header">Top 10 Most Searched Items</h2>
            <ol class="search-items" id="search-items">
                <!-- Items will be populated by JavaScript -->
            </ol>
        </div>
    </div>
<% end %>



<%= javascript_import_module_tag "search" %>