
    <div>
    </div>

    <div class="container">
        <h1 class="title">
            Most searched based on IP: <%= params[:ip] %>
            <span class="ip-address" id="ip-display">
            </span>
        </h1>

        <div class="search-list">
            <h2 class="list-header">Top 10 Most Searched Items</h2>
            <ol class="search-items" id="search-items">
                <% @top_searches.each do |search, count| %>
                    <li><%= search %> - <%= count %> times </li>
                <% end %>
            </ol>
        </div>
    </div>




<%= javascript_import_module_tag "search" %>